*{margin:0;
padding:0;
}

h1{
    background-color: black;
    color: beige;
    height: 5rem;
    line-height: 5rem;
    justify-content: center;
    text-align: center;
}

.choices{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
}

img,button{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor:pointer;
    background-color: black;
}

.score-board{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 2rem;
    font-size: 25px;
    color: rgb(10, 130, 12);
}

#user-choice,#computer-choice{
    font-size:35px ;
}

#game-result{
    background-color: black;
    color: beige;
    font-size: 2.5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container{
    margin-top: 2.5rem;
    text-align: center;
}